<ion-header>
	
		<ion-navbar>
			<ion-title>patient-details</ion-title>
		</ion-navbar>
	
	</ion-header>
	
	
	<ion-content padding>
		<!-- <ion-list>
		<ion-item-sliding #item>
		  <ion-item *ngIf="!isPatientEdit" style="color :#1B8BD7;font-size: 1.2em;">
			Patient Name <span style="float :right">{{selectedItem.patientName}}</span>
		  </ion-item>
		  <ion-item *ngIf="isPatientEdit">
			<ion-label id="label"> -->
		<!-- <ion-icon name="md-mail"></ion-icon> -->
		<!-- </ion-label>
			<ion-input [(ngModel)]="patientData.patientName" color="danger" placeholder="edit patient"></ion-input>
		</ion-item>
		<ion-item-options side="left" *ngIf="isPatientEdit"> -->
		<!-- <button style="background:#00BCD4;color: white" (click)="editPatient(selectedItem.patientName,selectedItem.userId)">EDIT</button> -->
		<!-- <button (click)="showItem()" style="background:#00BCD4" ion-button icon-left>
				<ion-icon name="md-arrow-back"></ion-icon>
				
			  </button>
			  <button style="background:#00BCD4;color: white"  (click)="editPatient(selectedItem.patientName,selectedItem.userId)">Edit Done</button>
		  </ion-item-options>
		  <ion-item-options *ngIf="!isPatientEdit">
			  <button style="background:#00BCD4;color: white"  (click)="edit()">EDIT</button>
			 
			</ion-item-options>
		</ion-item-sliding>
	  </ion-list> -->
	
		<div *ngIf="isEditDetails">
			<ion-list>
				<ion-item style="color :#1B8BD7;font-size: 1.2em;">
					Patient Name <span style="float :right">{{selectedItem.patientName}}</span>
				</ion-item>
	
				<ion-item style="color :#1B8BD7;font-size: 1.2em;">
					Patient Age <span style="float :right">{{selectedItem.patientAge}}</span>
				</ion-item>
	
				<ion-item style="color :#1B8BD7;font-size: 1.2em;">
					Patient Address <span style="float :right">{{selectedItem.patientAddress}}</span>
				</ion-item>
	
				<ion-item style="color :#1B8BD7;font-size: 1.2em;">
					Patient Gender <span style="float :right">{{selectedItem.gender}}</span>
				</ion-item>
			</ion-list>
		</div>
	
	
		<div *ngIf="isEdit">
	
			<ion-list>
				<ion-item-sliding #item>
					<ion-item>
						<ion-label>
							<ion-icon name="md-create"></ion-icon>
						</ion-label>
						<ion-input [(ngModel)]="selectedItem.patientName"  color="danger"></ion-input>
					</ion-item>
	
					<ion-item-options side="left">
						<button (click)="showItem()" style="background:#00BCD4" ion-button icon-left>
								   <ion-icon name="md-arrow-back"></ion-icon>				
						</button>
					</ion-item-options>
	
					<ion-item-options side="right">
						<button style="background:#00BCD4;color: white" (click)="editPatient()">Edit Done</button>
					</ion-item-options>
	
				</ion-item-sliding>
	
			</ion-list>
	
			<ion-list>
				<ion-item-sliding #item>
					<ion-item>
						<ion-label>
							<ion-icon name="md-create"></ion-icon>
						</ion-label>
						<ion-input  [(ngModel)]="selectedItem.patientAge" color="danger" ></ion-input>
					</ion-item>
	
					<ion-item-options side="left">
						<button (click)="showItem()" style="background:#00BCD4" ion-button icon-left>
						   <ion-icon name="md-arrow-back"></ion-icon>				
						</button>
					</ion-item-options>
	
					<ion-item-options side="right">
						<button style="background:#00BCD4;color: white" (click)="editPatient()">Edit Done</button>
					</ion-item-options>
	
				</ion-item-sliding>
	
			</ion-list>
	
			<ion-list>
				<ion-item-sliding #item>
					<ion-item>
						<ion-label>
							<ion-icon name="md-create"></ion-icon>
						</ion-label>
						<ion-input [(ngModel)]="selectedItem.patientAddress" color="danger"></ion-input>
					</ion-item>
	
					<ion-item-options side="left">
						<button (click)="showItem()" style="background:#00BCD4" ion-button icon-left>
							   <ion-icon name="md-arrow-back"></ion-icon>				
							</button>
					</ion-item-options>
	
					<ion-item-options side="right">
						<button style="background:#00BCD4;color: white" (click)="editPatient()">Edit Done</button>
					</ion-item-options>
	
				</ion-item-sliding>
	
			</ion-list>
	
	
			<ion-list>
				<ion-item-sliding #item>
					<ion-item>
						<ion-label>
							<ion-icon  name="md-create"></ion-icon>Gender</ion-label>
						<ion-select [(ngModel)]="selectedItem.gender">
							<ion-option *ngFor="let gender of genders" [value]="gender.value">
								{{gender.viewValue}}
							</ion-option>
						</ion-select>
					</ion-item>
	
					<ion-item-options side="left">
						<button (click)="showItem()" style="background:#00BCD4" ion-button icon-left>
								   <ion-icon name="md-arrow-back"></ion-icon>				
						</button>
					</ion-item-options>
	
					<ion-item-options side="right">
						<button style="background:#00BCD4;color: white" (click)="editPatient()">Edit Done</button>
					</ion-item-options>
	
				</ion-item-sliding>
	
			</ion-list>
		</div>
		<div *ngIf="isEditDetails" style="text-align : center;margin-top: 100px;">
			<button ion-button color="danger" (click)="deletePatient(selectedItem)">Delete</button>
			<button ion-button color="secondary" (click)="edit()">Edit</button>
		</div>
	
	</ion-content>