<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="div_h2">
		<h2 class="h2">Plaease Add A Patient</h2>
		<hr>

		<button ion-button color="primary" round (click)="add()">Add Patient</button>
	</div>

	<div *ngIf="patientData$ | async">
		<ion-list>
			<button style="color :#1B8BD7;font-size: 1.3em" class="list-button" ion-item *ngFor="let a of patientData$ | async; let i = index"
			 (click)="itemTapped(a,i)">
						  {{a.patientName}}
			</button>
		</ion-list>
	</div>
</ion-content>
